.divider-wrapper
    .divider-content
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores delectus eaque earum eligendi eos explicabo facere iure iusto labore laboriosam laudantium necessitatibus neque nisi odio odit quae, ratione sequi suscipit tempore, veniam vitae, voluptate voluptates! Aliquam asperiores aspernatur assumenda autem commodi consectetur cupiditate debitis delectus deserunt dolore ea eaque eligendi est et ex fugiat id inventore itaque iure maiores modi natus nostrum numquam odio officia officiis pariatur, porro provident quis ratione repellat sed sequi sint sit unde vero voluptatum? Eum excepturi minima quo tempore veniam voluptate. Dolores exercitationem quibusdam velit voluptas. Accusantium autem dignissimos enim ex maiores molestiae recusandae sed.
    .divider-buttons
        each dividerButtons in mainBanner.buttons
            a.btn(href=dividerButtons.href title=dividerButtons.title) #{dividerButtons.text}